.lost {
  display: flex;
  align-items: center;

  height: 40px;
  width: 100%;

  margin: 5px 0;
  padding: 5px;

  background-color: #989797;

  &--up {
    border-radius: 5px 5px 0 0;
  };

  &--down {
    border-radius: 0 0 5px 5px;
  };
};
